.mobileHeader {
  @apply fixed top-0 w-full flex-none flex;
  padding: 15px 20px;
  border: none !important;
  border-bottom: 1px solid white !important;
  z-index: 999;
}

.headerActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
