.icon {
  @apply m-2;
}

.iconPrimaryColor {
  fill: var(--color-primary-3);
}

.searchIconPrimary {
  @apply opacity-0;
}

.searchIconSecondary {
  fill: var(--color-neutral-7);
}

.phoneIconPrimary {
  fill: var(--color-neutral-8);
}

.phoneIconSecondary {
  fill: var(--color-neutral-5);
}
