.productNavigationImage {
}

.roomNavigationRoot {
  background-color: var(--color-neutral-10);
}

.roomNavigationImage {
}

.heroNavigationStyles {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100vw * 3 / 4);
}
