@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--neutral-color-9);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --neutral-color-6: hsl(0deg 0% 62%);
  --neutral-color-8: hsl(198deg 32% 47%);
  --neutral-color-9: hsl(192deg 38% 97%);
  --white-color: hsl(0deg 0% 100%);

  --shadow-color: 192, 0%, 50%;
}
